:root {
	--black: #200e32;
	--primery-1: #422b72;
	--primery-2: #d9a676;
	--gray-1: #898989;
	--gray-2: #d9d9d9;
	--backgroun-1: #efefef;
	--backgroun-2: #f8efe8;
}

span.more-btn {
	min-height: 28px;
	height: auto;
}

.content_block_inner {
	padding: 16px 20px 30px;
}

.path_block {
	padding-bottom: 45px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 171%;
	color: var(--primery-1);
	display: flex;
	gap: 3px;
	align-items: center;
	flex-wrap:wrap;

	a {
		color: var(--gray-1);
		text-decoration: none;
	}

	span {
		flex: 0 0 18px;
		height: 18px;
		background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.375 3.75L11.625 9L6.375 14.25' stroke='%23D9D9D9' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E") 50% no-repeat; 
	}
}


.h1_title {
	display: flex;
	align-items: center;
	gap: 16px;

	h1 {
		margin: 0;
		padding-left: 71px;
		position: relative;
		font-family: var(--second-family);
		font-weight: 700;
		font-size: 36px;
		line-height: 117%;
		color: var(--primery-1);
		margin: 0;

		&:before {
		    content: "";
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    width: 54px;
		    height: 24px;
		    background: url("data:image/svg+xml,%3Csvg width='54' height='24' viewBox='0 0 54 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M54 12C54 14.4 52 16.2 49.8 16.2C47.4 16.2 45.6 14.2 45.6 12C45.6 9.6 47.6 7.8 49.8 7.8C52 7.6 54 9.6 54 12ZM36.2 6C36 6 35.6 6 35.4 6C35 6 34.6 6.19999 34 6.39999C33.6 6.59999 32.8 7 32.6 7.2C28.4 10.2 25.2 9.39999 22.2 5.39999C22 4.99999 21.8 4.79999 21.4 4.39999C19.4 1.79999 16.4 0.4 13.2 0C12.8 0 12.4 0 12 0C5.4 0 0 5.4 0 12C0 18.6 5.4 24 12 24C16.2 24 20 21.8 22.2 18.4C25.2 14.4 28.4 13.6 32.4 16.6C32.6 16.8 33.4 17.2 33.8 17.4C34.4 17.6 34.8 17.6 35.2 17.8C35.4 17.8 35.8 17.8 36 17.8C39.2 17.8 41.8 15.2 41.8 12C42 8.6 39.4 6 36.2 6Z' fill='%23DAA677'/%3E%3C/svg%3E%0A") 50% no-repeat;
		    margin: auto;
		    background-size: contain;
		}

		@media all and (max-width: 767px) {
			font-size: 24px;
			line-height: 133%;
			padding-left: 45px;

			&:before {
				width: 35px;
				height: 16px;
			}
		}
	}

	@media all and (max-width: 1024px) {
		display: block;

		h1 {margin-bottom: 28px;}
	}
}



.filter_block {
	display: flex;
	gap: 16px;
	flex: 0 1 900px;
	margin-left: auto;

	.field {
		margin: 0;
		flex: 0 0 calc(50% - 81px);
	}

	.dropdown-field {
		position: relative;

		.name {
			position: relative;
			height: 50px;
			border: 1px solid #d2d2d2;
			padding: 0 40px 0 20px;
			position: relative;
			cursor: pointer;
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 16px;
			line-height: 48px;
			color: #8c8c8c;
			overflow: hidden;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				right: 20px;
				background: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.999396 1L6.65625 6.65685L12.3131 1' stroke='%23D9A676' stroke-width='2' stroke-linecap='round' /%3E%3C/svg%3E") 50% no-repeat;
				width: 14px;
				height: 14px;
				margin: auto;
				transition: all .3s;
			}
		}

		.list {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			padding: 10px;
			box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.15);
			background: #fff;
			z-index: 50;
			opacity: 0;
			visibility: hidden;

			ul {
				max-height: 220px;
				padding: 6px 32px 6px 10px;
				overflow-y: auto;

				&::-webkit-scrollbar-track{
					border-radius: 10px;
					background-color:  var(--gray-2);
				}

				&::-webkit-scrollbar{
					width: 5px;
					border-radius: 10px;
					background-color:  var(--gray-2);
				}

				&::-webkit-scrollbar-thumb{
					border-radius: 10px;
					background-color: var(--primery-1);
				}


				li {
					cursor: pointer;
					font-family: var(--font-family);
					font-weight: 400;
					font-size: 14px;
					line-height: 171%;
					color: var(--black);
					margin-bottom: 8px;
					transition: all .3s;

					&:hover {
						color: var(--primery-2);
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		&.open {
			.list {
				opacity: 1;
				visibility: visible;
			}

			.name {
				&:before {
					transform: rotate(180deg);
				}
			}
		}
	}

	.btn_button {
		border: 1px solid var(--primery-2);
		border-radius: 5px;
		padding: 0 10px;
		width: 130px;
		text-align: center;
		height: 50px;
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 14px;
		line-height: 48px;
		color: var(--primery-2);
		background: none;

		&:hover {
			background: var(--primery-2);
			color: #fff;
		}
	}

	@media all and (max-width: 1024px) {
		width: 100%;
	}

	@media all and (max-width: 767px) {
		flex-wrap: wrap;

		.field {
			width: 100%;
			flex: none;
		}

		.btn_button {
			width: 100%;
		}
	}
}

.up_btn {
	z-index: 50;
}

.specialists_list{
	display: flex;
	gap: 30px 28px;
	flex-wrap:wrap;
	padding-top: 70px;
	padding-bottom: 48px;

	@media all and (max-width: 1280px) {
		padding-top: 40px;
		padding-bottom: 18px;
	}

	@media all and (max-width: 620px) {
		gap: 16px;
	}

	.item {
        flex: 0 0 calc(25% - 21px);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        transition: all .3s;
        padding: 20px 26px 24px;
        position: relative;

        &:before {
        	content: '';
        	position: absolute;
        	bottom: 0;
        	left: 0;
        	right: 0;
        	top: 100%;
        	transition: all .5s;
        	background: #f8efe8;
    	    border-radius: 10px;	
        }

        > div {
            width: 100%;
            position: relative;
        }

        .image {
            text-align: center;
            position: relative;
            z-index: 1;
            margin-bottom: -20px;
            padding-top: 100%;
            background-position: 50% 0;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 50%;

            img {
            	position: absolute;
            	top: 0;
            	bottom: 0;
            	left: 0;
            	right: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                opacity: 0;
            }
        }

        .btn_button {
            display: block;
            text-align: center;
        }

        .body {
            position: relative;
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;

            .more_link {
            	position: absolute;
            	top: 78px;
            	left: 15px;
            	right: 15px;
            	bottom: 9px;
            	backdrop-filter: blur(8px);
				background: rgba(255, 255, 255, 0.4);
				transition: all .5s;
				font-family: var(--font-family);
				font-weight: 400;
				font-size: 16px;
				line-height: 150%;
				color: var(--primery-1);
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: 0;
				visibility: hidden;
				z-index: 12;
				text-decoration: none;
            }

            &:before {
                content: '';
                position: absolute;
                top: -24px;
                left: -26px;
                bottom: -24px;
                right: -26px;
                border-radius: 10px;
                background: #f8efe8;
            }

            .inner {
                position: relative;
                z-index: 2;
                padding: 16px 15px 16px;
                background: #fff;
                flex: 1 1 auto;

                .name {
                    min-height: 48px;
                    margin-bottom: 6px;

                    a,span {
                        text-decoration: none;
                        font-family: var(--second-family);
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 140%;
                        color: var(--primery-1);
                        padding-right: 50px;
                        position: relative;
                        display: block;
                        transition: all .5s;

                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            width: 48px;
                            height: 48px;
                            background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='47' height='47' rx='23.5' fill='white' /%3E%3Crect x='0.5' y='0.5' width='47' height='47' rx='23.5' stroke='%23422B72' /%3E%3Cpath d='M32.7071 24.7071C33.0976 24.3166 33.0976 23.6834 32.7071 23.2929L26.3431 16.9289C25.9526 16.5384 25.3195 16.5384 24.9289 16.9289C24.5384 17.3195 24.5384 17.9526 24.9289 18.3431L30.5858 24L24.9289 29.6569C24.5384 30.0474 24.5384 30.6805 24.9289 31.0711C25.3195 31.4616 25.9526 31.4616 26.3431 31.0711L32.7071 24.7071ZM14 24L14 25L32 25L32 24L32 23L14 23L14 24Z' fill='%23422B72' /%3E%3C/svg%3E") 50% no-repeat;
                            margin: auto;
                            transition: all .5s;
                        }
                    }
                }

                .text {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: var(--primery-1);
                    margin-bottom: 6px;
                }

                .age {
                    font-family: var(--font-family);
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    color: var(--primery-2);
                }
            }
        }

        &:hover {
            &:before {
            	top: 0;
            }

            .body {

            	.more_link {
            		opacity: 1;
            		visibility: visible;
            	}

            	.name {

            		a,span {
            			color: var(--primery-2);

            			&:before {
                            background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='48' height='48' rx='24' fill='%23422B72' /%3E%3Cpath d='M32.7071 24.7071C33.0976 24.3166 33.0976 23.6834 32.7071 23.2929L26.3431 16.9289C25.9526 16.5384 25.3195 16.5384 24.9289 16.9289C24.5384 17.3195 24.5384 17.9526 24.9289 18.3431L30.5858 24L24.9289 29.6569C24.5384 30.0474 24.5384 30.6805 24.9289 31.0711C25.3195 31.4616 25.9526 31.4616 26.3431 31.0711L32.7071 24.7071ZM14 24L14 25L32 25L32 24L32 23L14 23L14 24Z' fill='%23D9A676' /%3E%3C/svg%3E") 50% no-repeat;
                        }
            		}
            	}
            }
        }

        @media all and (max-width: 1280px) {
        	flex: 0 0 calc(33.33% - 19px);
        }

        @media all and (max-width: 991px){ 
            padding: 20px;
            flex: 0 0 calc(50% - 14px);

            .image {

                img {
                    // width: 224px;
                    // height: 224px;
                }
            }

            .body {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: -20px;
                    left: -20px;
                    bottom: -20px;
                    right: -20px;
                }

                .inner {
                    position: relative;
                    z-index: 2;
                    padding: 16px;
                    background: #fff;

                    .name {
                        min-height: 50px;
                        margin-bottom: 6px;

                        a {
                            font-size: 20px;
                            line-height: 140%;

                            &:before {
                                content: '';
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                right: 0;
                                width: 48px;
                                height: 48px;
                                background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='47' height='47' rx='23.5' fill='white' /%3E%3Crect x='0.5' y='0.5' width='47' height='47' rx='23.5' stroke='%23422B72' /%3E%3Cpath d='M32.7071 24.7071C33.0976 24.3166 33.0976 23.6834 32.7071 23.2929L26.3431 16.9289C25.9526 16.5384 25.3195 16.5384 24.9289 16.9289C24.5384 17.3195 24.5384 17.9526 24.9289 18.3431L30.5858 24L24.9289 29.6569C24.5384 30.0474 24.5384 30.6805 24.9289 31.0711C25.3195 31.4616 25.9526 31.4616 26.3431 31.0711L32.7071 24.7071ZM14 24L14 25L32 25L32 24L32 23L14 23L14 24Z' fill='%23422B72' /%3E%3C/svg%3E") 50% no-repeat;
                                margin: auto;
                                background-size: contain;
                            }

                        }
                    }

                    .text {
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        color: var(--primery-1);
                        margin-bottom: 6px;
                    }

                    .age {
                        font-family: var(--font-family);
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 150%;
                        color: var(--primery-2);
                    }
                }
            }
        }

        @media all and (max-width: 620px) {
        	flex: none;
        	width: 100%;
        	padding: 0 26px 26px;

        	.body {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: -22px;
                    left: -26px;
                    bottom: -26px;
                    right: -28px;
                }
            }

        	&:before{
        		display: none;
        	}
        }
    }
}

.page_list {
	padding-bottom: 70px;

	ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
		gap: 10px;

		li {
			a, span {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 30px;
				height: 30px;
				border-radius: 8px;
				font-family: var(--font-family);
				font-weight: 400;
				font-size: 16px;
				line-height: 150%;
				text-align: center;
				color: #000;
				text-decoration: none;
			}

			&.number {
				span {
					background: var(--primery-2);
					color: #fff;
				}
			}

			&.dots {
				span {

				}
			}

			&.prev {
				a {
					background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.625 14.25L6.375 9L11.625 3.75' stroke='%231D222F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E") 50% no-repeat;
				}
			}

			&.next {
				a {
					background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.375 3.75L11.625 9L6.375 14.25' stroke='%231D222F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E") 50% no-repeat;
				}
			}
		}
	}

	@media all and (max-width: 767px) {
		display: none;
	}
}

.btn_load_more {
	display: none;
	border: 1px solid var(--primery-2);
	border-radius: 5px;
	padding: 0 10px;
	width: 130px;
	text-align: center;
	height: 50px;
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 14px;
	line-height: 48px;
	color: var(--primery-2);
	background: none;
	width: 100%;
	margin-bottom: 30px;

	&:hover {
		background: var(--primery-2);
		color: #fff;
	}

	@media all and (max-width: 767px) {
		display: block;
	}
}