</div>
<footer class="footer">
    <div class="content-padding">
        <div class="block_inner">
            <div class="left">
                <div class="logo">
                    <a href="">
                        <img src="files/logo.png" alt="">
                    </a>
                </div>
                <div class="time">
                    <p>Понедельник-пятница: <strong>с 9:00 до 20:00</strong></p>
                    <p>Суббота: <strong>с 10:00 до 18:00</strong></p>
                    <p>Воскресенье: <strong>с 10:00 до 18:00</strong></p>
                </div>
            </div>
            <div class="service">
                <div class="name">Услуги </div>
                <ul>
                    <li>
                        <a href="">Программы ЭКО</a>
                        <ul>
                            <li><a href="">ЭКО</a></li>
                            <li><a href="">ИКСИ</a></li>
                            <li><a href="">Хетчинг</a></li>
                            <li><a href="">Криоконсервация ооцитов</a></li>
                            <li><a href="">Криоконсервация спермы</a></li>
                            <li><a href="">ЭКО по ОМС </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="links">
                <ul>
                    <li><a href="">Лечение бесплодия</a></li>
                    <li><a href="">Донорские программы</a></li>
                    <li><a href="">Суррогатное материнство</a></li>
                    <li><a href="">Гинекология</a></li>
                </ul>
                <div class="soc_block">
                    <a href="">
                        <img src="files/soc1.svg" alt="">
                    </a>
                    <a href="">
                        <img src="files/tg.svg" alt="">
                    </a>
                    <a href="">
                        <img src="files/vk.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="contacts_footer">
                <div class="title">Контакты</div>
                <div class="address">г. Москва ул. Бауманская,21   </div>
                <div class="phones">
                    <div>
                        <a href="tel:88002224058">8 (800) 222-40-58</a>
                    </div>
                    <div>
                        <a href="tel:84992880645">8 (499) 288-06-45</a>
                    </div>
                    <a href="" class="wh">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.086 0C5.41125 0 0 5.41125 0 12.086C0 14.7544 0.865547 17.2209 2.33016 19.2206L0.788203 23.779L5.59125 22.2792C7.46719 23.4766 9.69539 24.1713 12.086 24.1713C18.7608 24.1713 24.172 18.7601 24.172 12.0853C24.172 5.41055 18.7608 0 12.086 0Z" fill="#4CAF50"/>
                        <path d="M11.0798 14.1012C10.3458 13.5429 8.60133 11.4595 8.64914 11.0384C8.69695 10.6172 9.93797 9.72703 9.92602 9.22922C9.91406 8.73141 8.80734 5.52445 7.80188 5.51461C6.79641 5.50476 4.9493 6.65086 5.07656 8.92266C5.20383 11.1945 7.09312 14.258 9.95203 16.4278C12.8109 18.5977 15.4273 19.4484 17.6231 18.5723C19.5666 17.7968 19.5954 15.7964 19.3268 15.4519C19.0589 15.1073 16.3723 13.7735 15.8808 13.8691C15.3893 13.9648 14.8753 15.5187 14.1005 15.6241C13.3256 15.7282 11.8139 14.6595 11.0798 14.1012Z" fill="white"/>
                        </svg>
                    </a>
                </div>
                <div class="soc_block">
                    <a href="">
                        <img src="files/soc1.svg" alt="">
                    </a>
                    <a href="">
                        <img src="files/tg.svg" alt="">
                    </a>
                    <a href="">
                        <img src="files/vk.svg" alt="">
                    </a>
                </div>
                <div class="btns">
                    <div class="btn_button call">Записаться на прием</div>
                    <div class="btn_button online">Онлайн консультация</div>
                </div>
            </div>          
        </div>
    </div>
    <div class="footer_bottom">
        <div class="inner">© 2025 «За Рождение». Все права защищены  | <a href="">Карта сайта</a>  |  <a href="">Политика конфиденциальности.</a> Лицензия Л041-01137-77/00321328</div>
    </div>
</footer>
<div class="up_btn"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js" integrity="sha512-a/KwXZUMuN0N2aqT/nuvYp6mg1zKg8OfvovbIlh4ByLw+BJ4sDrJwQM/iSOd567gx+yS0pQixA4EnxBlHgrL6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/lightgallery-all.min.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>