<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тайтл</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.css" integrity="sha512-nF9G9AnUEVv+zx285OqwGE8c1gmkys3qV6iuDK5rVG/UuZLWRgGBy/tN5WzSXXuZDZ1YvwhJ9+a/DTj71L8Lrw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/lightgallery.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="menu_burger">
        <div class="menu_scroll">
        </div>
    </div>
    <div class="site_wrapper">
        <header class="header">
            <div class="header_top content-padding">
                <div class="block_inner">
                    <div class="logo">
                        <a href="">
                            <img src="files/logo.png" alt="">
                        </a>
                    </div>
                    <div class="contacts_header">
                        <div class="address">г. Москва ул. Бауманская,21   </div>
                        <div class="phones">
                            <div>
                                <a href="tel:88002224058">8 (800) 222-40-58</a>
                            </div>
                            <div>
                                <a href="tel:84992880645">8 (499) 288-06-45</a>
                            </div>
                            <a href="" class="wh">
                                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.086 0C5.41125 0 0 5.41125 0 12.086C0 14.7544 0.865547 17.2209 2.33016 19.2206L0.788203 23.779L5.59125 22.2792C7.46719 23.4766 9.69539 24.1713 12.086 24.1713C18.7608 24.1713 24.172 18.7601 24.172 12.0853C24.172 5.41055 18.7608 0 12.086 0Z" fill="#4CAF50"/>
                                <path d="M11.0798 14.1012C10.3458 13.5429 8.60133 11.4595 8.64914 11.0384C8.69695 10.6172 9.93797 9.72703 9.92602 9.22922C9.91406 8.73141 8.80734 5.52445 7.80188 5.51461C6.79641 5.50476 4.9493 6.65086 5.07656 8.92266C5.20383 11.1945 7.09312 14.258 9.95203 16.4278C12.8109 18.5977 15.4273 19.4484 17.6231 18.5723C19.5666 17.7968 19.5954 15.7964 19.3268 15.4519C19.0589 15.1073 16.3723 13.7735 15.8808 13.8691C15.3893 13.9648 14.8753 15.5187 14.1005 15.6241C13.3256 15.7282 11.8139 14.6595 11.0798 14.1012Z" fill="white"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="btn_button">
                        <span class="pc">Записаться на прием</span>
                        <span class="mob">Записаться</span>
                    </div>
                </div>                                                          
            </div>
            <div class="header_bottom content-padding">
                <div class="block_inner">
                    <div class="logo">
                        <a href="">
                            <img src="files/logo.png" alt="">
                        </a>
                    </div>
                    <div class="menu_header">
                        <ul>
                            <li><a href="">УСЛУГИ</a></li>
                            <li><a href="">ДИАГНОСТИКА</a></li>
                            <li><a href="">ЦЕНЫ</a></li>
                            <li><a href="">ВРАЧИ</a></li>
                            <li><a href="">СПЕЦАПЕДЛОЖЕНИЯ</a></li>
                            <li><a href="">СТАТЬИ</a></li>
                            <li><a href="">О ЦЕНТРЕ</a></li>
                            <li><a href="">ОТЗЫВЫ</a></li>
                            <li><a href="">КОНТАКТЫ</a></li>
                        </ul>
                    </div>
                    <div class="search_block">
                        <div class="seach_btn"></div>
                        <form action="">
                            <input type="text" placeholder="Поиск">
                            <button></button>
                        </form>
                    </div>
                    <div class="burger"></div>
                </div>
            </div>
        </header>
        <div class="content_block_wr">