include _header.jade
<div class="slider_main_wr">
    <div class="swiper top-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide content-padding">
                <div class="block_inner">
                    <div class="inner">
                        <div class="title">Скидка 25% на женские УЗИ-скрининг</div>
                        <div class="text">Программа комплексного ультразвукового исследования позволяет быстро и безболезненно оценить состояние ключевых внутренних органов</div>
                        <a href="" class="btn_button">Подробнее</a>
                        <div class="pag"><strong class="current">1</strong> / 3</div>
                    </div>      
                </div>
                <img src="files/slid.jpg" alt="">
            </div>
            <div class="swiper-slide content-padding">
                <div class="block_inner">
                    <div class="inner">
                        <div class="title">Заголовок</div>
                        <div class="text">Программа комплексного ультразвукового исследования позволяет быстро и безболезненно оценить состояние ключевых внутренних органов</div>
                        <a href="" class="btn_button">Подробнее</a>
                        <div class="pag"><strong class="current">2</strong> / 3</div>
                    </div>  
                </div>
                <img src="files/slid.jpg" alt="">
            </div>
            <div class="swiper-slide content-padding">
                <div class="block_inner">
                    <div class="inner">
                        <div class="title">Заголовок 2</div>
                        <div class="text">Программа комплексного ультразвукового исследования позволяет быстро и безболезненно оценить состояние ключевых внутренних органов</div>
                        <a href="" class="btn_button">Подробнее</a>
                        <div class="pag"><strong class="current">3</strong> / 3</div>
                    </div>                          
                </div>
                <img src="files/slid.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="service_block content-padding">
    <div class="block_inner">
        <div class="title_name">Услуги центра</div>
        <div class="inner">
            <a href="" class="item type1 border">
                <span class="image">
                    <img src="files/s1.jpg" width="262" alt="">
                </span>
                <span class="name">Отложенное материнство</span>
            </a>
            <a href="" class="item type1">
                <span class="image">
                    <img src="files/s2.jpg" width="266" alt="">
                </span>
                <span class="name">ЭКО по ОМС</span>
            </a>
            <a href="" class="item type2">
                <span class="image">
                    <img src="files/s3.jpg" width="260" alt="">
                </span>
                <span class="name">ERA тест</span>
            </a>
            <a href="" class="item type2">
                <span class="image">
                    <img src="files/s4.jpg" width="436" alt="">
                </span>
                <span class="name">Суррогатное материнство</span>
            </a>
            <a href="" class="item type1">
                <span class="image">
                    <img src="files/s5.jpg" width="237" alt="">
                </span>
                <span class="name">Донорские программы</span>
            </a>
            <a href="" class="item type2">
                <span class="image">
                    <img src="files/s6.jpg" width="351" alt="">
                </span>
                <span class="name">Интимная пластика</span>
            </a>
            <a href="" class="item type1">
                <span class="image">
                    <img src="files/s7.jpg" width="266" alt="">
                </span>
                <span class="name">Гинекология</span>
            </a>
            <a href="" class="item type1 border">
                <span class="image">
                    <img src="files/s8.jpg" width="262" alt="">
                </span>
                <span class="name">Диагностика</span>
            </a>
            <a href="" class="all">Смотреть все</a>
        </div>
    </div>
</div>
<div class="slider_doctors_wr content-padding">
    <div class="block_inner">
        <div class="title_name">Врачи</div>
        <div class="swiper-pagination-doc"></div>
        <div class="block_inner_wr">
            <div class="swiper doctors-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="item_doc">
                            <div class="image">
                                <img src="files/d1.png" alt="">
                            </div>
                            <div class="body">
                                <div class="inner">
                                    <div class="name">
                                        <a href="">Соколова Елена Анатольевна</a>
                                    </div>
                                    <div class="text">Врач акушер-гинеколог, репродуктолог</div>
                                    <div class="age">Стаж 12 лет</div>
                                </div>
                                <a href="" class="btn_button">Записаться на прием</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item_doc">
                            <div class="image">
                                <img src="files/d2.png" alt="">
                            </div>
                            <div class="body">
                                <div class="inner">
                                    <div class="name">
                                        <a href="">Соколова Елена Анатольевна</a>
                                    </div>
                                    <div class="text">Врач акушер-гинеколог, репродуктолог</div>
                                    <div class="age">Стаж 12 лет</div>
                                </div>
                                <a href="" class="btn_button">Записаться на прием</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item_doc">
                            <div class="image">
                                <img src="files/d3.png" alt="">
                            </div>
                            <div class="body">
                                <div class="inner">
                                    <div class="name">
                                        <a href="">Соколова Елена Анатольевна</a>
                                    </div>
                                    <div class="text">Врач акушер-гинеколог, репродуктолог</div>
                                    <div class="age">Стаж 12 лет</div>
                                </div>
                                <a href="" class="btn_button">Записаться на прием</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item_doc">
                            <div class="image">
                                <img src="files/d4.png" alt="">
                            </div>
                            <div class="body">
                                <div class="inner">
                                    <div class="name">
                                        <a href="">Соколова Елена Анатольевна</a>
                                    </div>
                                    <div class="text">Врач акушер-гинеколог, репродуктолог</div>
                                    <div class="age">Стаж 12 лет</div>
                                </div>
                                <a href="" class="btn_button">Записаться на прием</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item_doc">
                            <div class="image">
                                <img src="files/d2.png" alt="">
                            </div>
                            <div class="body">
                                <div class="inner">
                                    <div class="name">
                                        <a href="">Соколова Елена Анатольевна</a>
                                    </div>
                                    <div class="text">Врач акушер-гинеколог, репродуктолог</div>
                                    <div class="age">Стаж 12 лет</div>
                                </div>
                                <a href="" class="btn_button">Записаться на прием</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clinik_block  content-padding">
    <div class="block_inner">
        <div class="left">
            <div class="title_name">Клиника Эко ВРТ «За Рождение»</div>
            <div class="subtitle">Рейтинг на независимых сервисах</div>
            <div class="inner">
                <div class="item">
                    <div class="count">7,9</div>
                    <img src="files/cl6.png" alt="">
                </div>
                <div class="item">
                    <div class="count">4,8</div>
                    <img src="files/cl5.png" alt="">
                </div>
                <div class="item">
                    <div class="count">5,0</div>
                    <img src="files/cl1.png" alt="">
                </div>
                <div class="item">
                    <div class="count">4,9</div>
                    <img src="files/cl2.png" alt="">
                </div>
                <div class="item">
                    <div class="count">4,3</div>
                    <img src="files/cl3.png" alt="">
                </div>
                <div class="item">
                    <div class="count">5,0</div>
                    <img src="files/cl4.png" alt="">
                </div>
            </div>
        </div>  
        <div class="right">
            <div class="item">
                <span>15 </span>
                <i>лет</i> эффективной работы
            </div>
            <div class="item">
                <span>14 837</span>родилось детей
            </div>
            <div class="item">
                <span>52,3</span>
                <i>%</i>эффективность программ ЭКО
            </div>
        </div>
    </div>
</div>
<div class="news_block content-padding">
    <div class="block_inner">
        <div class="title">Новости</div>
        <div class="inner">
            <div class="item">
                <div class="image">
                    <img src="files/new1.png" alt="262">
                </div>
                <div class="name">
                    <a href="">Конференция «Возможности репродуктологии в 21 веке»</a>
                </div>
                <div class="dates">
                    <div class="date">12 августа 2025</div>
                    <a href="">Подробнее</a>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="files/new2.png" alt="262">
                </div>
                <div class="name">
                    <a href="">Лечение внутриматочной патологии</a>
                </div>
                <div class="dates">
                    <div class="date">12 августа 2025</div>
                    <a href="">Подробнее</a>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="files/new3.png" alt="262">
                </div>
                <div class="name">
                    <a href="">Открытие конференции «Клуб Репродуктолога» </a>
                </div>
                <div class="dates">
                    <div class="date">12 августа 2025</div>
                    <a href="">Подробнее</a>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="files/new4.png" alt="262">
                </div>
                <div class="name">
                    <a href="">Конференция «Клуб Репродуктолога». Заключительный день</a>
                </div>
                <div class="dates">
                    <div class="date">12 августа 2025</div>
                    <a href="">Подробнее</a>
                </div>
            </div>
        </div>                          
    </div>
</div>
<div class="about_block content-padding">
    <div class="block_inner">
        <div class="title_name">О нас</div>
        <div class="inner">
            <div class="text_image">
                <div class="video_block">
                    <video  preload="metadata">
                        <source src="files/flower.webm" type="video/mp4" />
                    </video>
                    <div class="btn_play"></div>
                </div>
                <div class="body">
                    <div class="title">Репродуктивный центр “За Рождение”</div>
                    <div class="text"> Мы в центре «За Рождение» считаем, что каждая семейная пара  достойна возможности ощутить радость от рождения ребенка, здорового и  полноценного малыша, без каких-либо врожденных пороков и аномалий  развития. Репродуктивные технологии и репродуктивная медицина сейчас  развиваются очень быстро, это один из самых перспективных разделов  современной науки. Новейшие методики почти в 100 % случаев позволяют  сделать рождение ребенка возможным. <br> Множество современных семейных пар страдает от невозможности родить ребенка. Однозначные причины репродуктивной дисфункции назвать  невозможно: кроме различных заболеваний женской и мужской половых  систем, огромное значение имеют социальные, психологические и  экологические факторы. Но итог один: невозможность завести ребенка и,  как следствие, нарушение личных взаимоотношений.</div>
                </div>
            </div>
        </div>
        <div class="about_slider">
            <div class="arrows">
                <div class="arrow-btn prev"></div>
                <div class="arrow-btn next"></div>
            </div>
            <div class="swiper about-swiper">
                <div class="swiper-wrapper">
                    <a href="files/a1.jpg" class="swiper-slide">
                        <img src="files/a1.jpg" alt="">
                    </a>
                    <a href="files/a1.jpg" class="swiper-slide">
                        <img src="files/a1.jpg" alt="">
                    </a>
                    <a href="files/a1.jpg" class="swiper-slide">
                        <img src="files/a1.jpg" alt="">
                    </a>
                    <a href="files/a1.jpg" class="swiper-slide">
                        <img src="files/a1.jpg" alt="">
                    </a>
                    <a href="files/a1.jpg" class="swiper-slide">
                        <img src="files/a1.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form_bottom content-padding">
    <div class="block_inner">
        <div class="left" style="background-image: url(files/form-bg.jpg);">
            <div class="name" style="background-image: url(files/form-bg.jpg);">Записаться на консультацию</div>
            <div class="text">Клиника предлагает комплексную высокоэффективную медицинскую помощь,  включающую полную диагностику и различные терапевтические меры.</div>
        </div>
        <div class="right">
            <form action="">
                <div class="row">
                    <div class="field">
                        <input type="text" placeholder="Ваше имя">
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Ваш телефон">
                    </div>
                </div>
                <div class="field select">
                    <select name="" id="">
                        <option value="Услуга">Услуга</option>
                        <option value="Услуга">Услуга</option>
                        <option value="Услуга">Услуга</option>
                        <option value="Услуга">Услуга</option>
                    </select>
                </div>
                <div class="bottom">
                    <div class="field checkbox">
                        <label>
                            <input type="checkbox">
                            <i></i>
                            <span>Даю согласие на обработку <br> <a href="">Персональных данных</a></span>
                        </label>
                    </div>
                    <button class="btn_button">Отправить заявку</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="licen_rev content-padding">
    <div class="block_inner">
        <div class="left">
            <div class="title">Лицензии</div>
            <div class="arrows">
                <div class="arrow-btn prev"></div>
                <div class="arrow-btn next"></div>
            </div>
            <div class="swiper licen-swiper">
                <div class="swiper-wrapper">
                    <a href="files/l1.jpg" class="swiper-slide">
                        <img src="files/l1.jpg" alt="">
                    </a>
                    <a href="files/l2.jpg" class="swiper-slide">
                        <img src="files/l2.jpg" alt="">
                    </a>
                    <a href="files/l1.jpg" class="swiper-slide">
                        <img src="files/l1.jpg" alt="">
                    </a>
                    <a href="files/l1.jpg" class="swiper-slide">
                        <img src="files/l1.jpg" alt="">
                    </a>
                    <a href="files/l1.jpg" class="swiper-slide">
                        <img src="files/l1.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="title">Отзывы</div>
            <div class="reviews_block">
                <div class="item">
                    <div class="name">Александра Викторовна</div>
                    <div class="text">Мы с мужем выражаем огромную благодарность и говорим СПАСИБО самому лучшему доктору Сергею Ивановичу Мазуру и эмбриологу Шпаневской М.В., а также всему персоналу клиники: медсестрам, администраторам. Беременность наступила с первой попытки в 38 лет. Сейчас нашему долгожданному сыночку 6 месяцев. Спасибо за наше маленькое чудо, з...</div>
                </div>
                <div class="item">
                    <div class="name">Наталья</div>
                    <div class="text">Мы с мужем выражаем огромную благодарность и говорим СПАСИБО самому лучшему доктору Сергею Ивановичу Мазуру и эмбриологу Шпаневской М.В., а также всему персоналу клиники: медсестрам, администраторам. Беременность наступила с первой попытки в 38 лет. Сейчас нашему долгожданному сыночку 6 месяцев. Спасибо за наше маленькое чудо, з...</div>
                </div>
                <div class="item">
                    <div class="name">Наталья</div>
                    <div class="text">Мы с мужем выражаем огромную благодарность и говорим СПАСИБО самому лучшему доктору Сергею Ивановичу Мазуру и эмбриологу Шпаневской М.В., а также всему персоналу клиники: медсестрам, администраторам. Беременность наступила с первой попытки в 38 лет. Сейчас нашему долгожданному сыночку 6 месяцев. Спасибо за наше маленькое чудо, з...</div>
                </div>
            </div>
        </div>
    </div>
</div>
include _footer.jade